.g, body, html, input, .std, h1 {
    font-family: arial,sans-serif;
    font-size: small;
}
.g {
    line-height: 1.2;
    text-align: left;
}
user agent stylesheet
div {
    display: block;
}
h3, .med {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
body {
    color: #222;
}
body {
    color: #000;
    margin: 0;
}
user agent stylesheet
html {
    color: -internal-root-color;
}

element.style {
}
user agent stylesheet
div {
    display: block;
}
.g, body, html, input, .std, h1 {
    font-family: arial,sans-serif;
    font-size: small;
}
.g {
    line-height: 1.2;
    text-align: left;
}
h3, .med {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
body {
    color: #222;
}
body {
    color: #000;
    margin: 0;
}
user agent stylesheet
html {
    color: -internal-root-color;
}

element.style {
}
.g {
    margin-top: 0;
    margin-bottom: 26px;
}
.g, body, html, input, .std, h1 {
    font-family: arial,sans-serif;
    font-size: small;
}
.g {
    line-height: 1.2;
    text-align: left;
}
user agent stylesheet
div {
    display: block;
}
h3, .med {
    font-size: medium;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
body {
    color: #222;
}
body {
    color: #000;
    margin: 0;
}
user agent stylesheet
html {
    color: -internal-root-color;
}